{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <title>Document</title>
</head>
<body>

  <form action="{% url 'home' %}" enctype="multipart/form-data" method="post" novalidate>
    {% csrf_token %}
    <h1>Form Validation</h1>
    {{msg}}
    
    {{fm.as_p}}
    <button type="submit">Register</button>
  </form>

</body>
</html>

