{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
    <link rel="stylesheet" href="{% static 'css/home.css' %}"/>
    <title>Document</title>
</head>
<body>
    <h1 class="first">Welcome to home page </h1>
    <form action="{% url 'data' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        Name : <input type="text" name="x" value=""><br>
          Email : <input type="email" name="y" value=""><br>
            Contact : <input type="number" name="z" value=""><br>
              Image : <input type="file" name="f" value=""><br>
                Document : <input type="file" name="d" value=""><br>

                <input type="submit" value="submit">
    </form>
</body>
</html>